::ng-deep .mat-expansion-panel-content {
  font-family: initial !important;
}
::ng-deep .mat-expansion-panel-header {
  font-family: initial !important;
}

#buttonAdd,
#dropdownBasic1 {
	width: 101px;
}


