<div class="app-actions-top">
	<button mat-dialog-close mat-icon-button color="accent" aria-label="Cerrar resumen">
		<mat-icon>arrow_back</mat-icon>
	</button>
	<button (click)="download()" mat-icon-button color="accent" aria-label="Descargar documento">
		<mat-icon>vertical_align_bottom</mat-icon>
	</button>
</div>
<div class="body">
  <div class="row div mt-2 mb-2">
    <div class="col-6 col-md-4 col-lg-2 my-2" align="center">
      <img src="../assets/logo.png" alt="" class="img">
    </div>
    <div class="col-6 col-md-4 col-lg-2 my-2">
      <h2 class="acronimo">I.E.J.M</h2>
      <p></p>
    </div>
    <div class="col-6 col-md-4 col-lg-6 my-2">

    </div>
    <hr>
  </div>
</div>



